<form method="post" action="/lists/<%=@list.id%>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
  <div class="container " >
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-6 align-items-center"  >
      <h1 style="text-align:center">Edit List Name</h1>
        <table class="table" style="text-align:center">
          <thead class="thead-dark">
            <tr>
              <br>
              <br>
              <th scope="col">
                <div class="form-outline mb-4">
                  <label class="form-label"  >List Name</label>
                  <input type="text" name="name" value="<%=@list.name%>"  style="text-align:center" class="form-control form-control-lg" />
                </div>
              </th>
            </tr>
          </thead>
        </table>
        <table class="table"  style="text-align:center">
          <thead class="thead-dark" >
            <tr>
            <th scope="col">Tasks</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @list.todos.each do |todo| %>
              <tr>
                <td><i class="fa fa-minus"></i><%= todo.name %></td>
                <td>
                  <a href="/tasks/<%= todo.id %>/edit"><button type="button" class="btn btn-outline-secondary" >Edit task</button></a>
                  <a href="/tasks/<%= todo.id %>/delete"><button type="button" class="btn btn-outline-danger" >Delete</button></a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div style="text-align:center">
       <button class="btn btn-outline-primary" type="submit" name="update">Update </button>
       <button class="btn btn-outline-primary" type="submit" name="update" onclick="history.back()">back </button>
       </div>
    </div>
    </div>
  </div>
</form>
